*~
*.pyc
bower_components
node_modules
.idea
.DS_Store
*.p12
*.pem
.tmp

#library
oauth2client
httplib2
apiclient
uritemplate
cloudstorage
sendgrid
smtpapi

#library source
*.zip

#grunt
dist
dist_templates
app/vendor
app/images
app/fonts